<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta content="water technology company" name="description">
      <meta content="NaturalFlow" name="author">
        <!-- CSS -->
        <link href="css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.css" rel="stylesheet" media="screen"> <link href="css/elementTransitions.css" rel="stylesheet" media="screen">
        <link href="css/superslides.css" rel="stylesheet" media="screen">
        <link href="css/slimbox2.css" rel="stylesheet">
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" media="screen">
        <link href="css/custom.css" rel="stylesheet" media="screen">
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arapey:400italic,400' rel='stylesheet' type='text/css'>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
            <div id="slides">
                <ul class="slides-container">
<!--                     <li>
                        <img src="images/background3.jpg" alt="">
                        <div class="overlay-1"></div>
                        <div class="slide-caption">
                            <h1>Save
                                <span class="txt-rotate" data-period="1500" data-rotate='[ "water.", "money.", "the planet."]'></span>
                            </h1>
                            <div class="contrast">
                                <p>Pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</p>
                                <p>
                                    <a href="http://precisionflowusa.com" class="btn btn-lg btn-green">Start Saving Today</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="images/background3.jpg" alt="">
                        <div class="overlay-2"></div>
                        <div class="slide-caption">
                            <h1>Save water.
                                <span class="txt-rotate" data-period="1500" data-rotate='[ "water.", "money.", "the planet."]'></span>
                            </h1>
                            <div class="contrast">
                                <p>Pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</p>
                                <p>
                                    <a href="http://precisionflowusa.com" class="btn btn-lg btn-green">Start Saving Today</a>
                                </p>
                            </div>
                        </div>
                    </li> -->
                    <li>
                        <!-- <img src="images/background3.1.jpg" alt=""> -->
                        <!-- <div class="overlay"></div> -->
                        <div class="slide-caption">
                            <h1 class="desktop">Save
                                <span class="txt-rotate" data-period="1500" data-rotate='[ "water.", "money.", "the planet."]'></span>
                            </h1>
                            <div class="contrast">
                                <p>NaturalFlow helps you reduce your water bill and conserve the world's most valuable resource.
                                <p>
                                    <a href="http://precisionflowusa.com" class="btn btn-lg btn-green start-saving">Start Saving Today</a>
                                </p>
                                <p>
                                    <a href="" class="btn btn-lg btn-green learn-more">Learn More</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

                <nav class="slides-navigation">
                    <a href="#" class="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" class="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </nav>
            </div>
            <!-- end:Content -->
            <!-- Navigation -->
            <span id="our-product"></span>
            <div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky what-we-do">
                <div id="nav">
                    <div class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="index.html">
                                    <i class="fa fa-anchor"></i>NaturalFlow</a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav" id="top-nav">
                                    <li class="active">
                                        <a href="#slides">Home</a>
                                    </li>
                                    <li>
                                        <a href="#our-product">Product</a>
                                    </li>
                                    <li>
                                        <a href="#process">Process</a>
                                    </li>
                                    <li>
                                        <a href="#about">Story</a>
                                    </li>
                                    <li>
                                        <a href="#cta-contact">Contact</a>
                                    </li>
                                </ul>
                                <a href="contact.php" class="btn btn-green navbar-btn pull-right external">Start Saving Today</a>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                <!-- .nav-wrapper -->
            </div>
            <!-- end:Navigation -->
            <!-- Content -->
            <section class="service space">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 text-left">
                            <h4 class="title-12">Our Product</h4>
                            <h1>A proprietary and water technology flow
                                <b>
                                    <!-- <span class="f-green txt-rotate" data-period="4000" data-rotate='[ "love & passion.", "knowledge.", "artistic approach.", "love!" ]'></span> -->
                                     <span class="f-green">valve</span>
                                </b>
                            </h1>
                            <p class="intro">Reduces water consumption while preserving water pressure and user experience.</p>
                        </div>
                        <!-- .col-12 -->
                    </div>
                    <!-- .row -->
                    <div class="row p-top-50">
                        <div class="col-md-4">
                            <div class="service-box">
                                <figure>
                                    <img src="images/product1.jpg" alt="" class="product-pics">
                                </figure>
                                <h3>Hand Crafted</h3>
                                <p>Custumized to maximize flow efficiency, helping savings average over 25%.</p>
                            </div>
                            <!-- end:Service-box -->
                        </div>
                        <!-- .col-4 -->
                        <div class="col-md-4">
                            <div class="service-box">
                                <figure>
                                    <img src="images/product2.jpg" alt="">
                                </figure>
                                <h3>Stainless Steel</h3>
                                <p>We use the highest quality materials to make sure savings last for years.</p>
                            </div>
                            <!-- end:Service-box -->
                        </div>
                        <!-- .col-4 -->
                        <div class="col-md-4">
                            <div class="service-box">
                                <figure>
                                    <img src="images/product3.jpg" alt="">
                                </figure>
                                <h3>Made in the USA</h3>
                                <p>Helping support the local economy in addition to the environment and your wallet.</p>
                            </div>
                            <!-- end:Service-box -->
                        </div>
                        <!-- .col-4 -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- end:Container -->
            </section>
            <!-- end:Service -->
            <div></div>
            <section class="space" id="process">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>You'll be <b><span class="f-green">saving</span></b> water and money in <b><span class="f-green">no time</span></b></h1>
                            <p class="lead">Below are the steps from online purchase to savings of over 25% on your water bill.</p>
                        </div>
                        <!-- .col-12 -->
                    </div>
                    <!-- .row -->
                    <div class="row  p-top-30">
                        <div class="col-md-4 col-sm-4">
                            <article class="et-wrapper">
                                <div class="et-page et-page-opacity features-box et-page-current">
                                    <i class="fa fa-bookmark-o"></i>
                                    <h3>Purchase Online</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, dignissim hendrerit, venenatis sapien.</p>
                                </div>
                            </article>
                        </div>
                        <!-- .col-4 -->
                        <div class="col-md-4 col-sm-4">
                            <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                                <div class="et-page features-box et-page-current">
                                    <i class="fa fa-bookmark-o"></i>
                                    <h3>Installation by a Certified Plumber</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, dignissim!</p>
                                </div>
                                <div class="et-page et-page-dark features-box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum, dignissim!</p>
                                    <p>
                                        <a href="#" class="btn btn-green">View More</a>
                                    </p>
                                </div>
                            </article>
                        </div>
                        <!-- .col-4 -->
                        <div class="col-md-4 col-sm-4">
                            <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                                <div class="et-page features-box et-page-current">
                                    <i class="fa fa-bell-o"></i>
                                    <h3>Start Saving!</h3>
                                    <p>Aliquam nec dictum orci, ac accumsan massa adipiscing elit.</p>
                                </div>
                                <div class="et-page  features-box">
                                    <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                                    <p>
                                        <a href="#" class="btn btn-green">View More</a>
                                    </p>
                                </div>
                            </article>
                        </div>
                        <!-- .col-4 -->
                    </div>
                    <!-- .row -->
                </div>
                <!-- .end:Container -->
            </section>
            <!-- end:features section -->
            <!-- start:About -->
            <section id="about" class="space p-btm-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h3 class="title-12">ABOUT US</h3>
                            <h1>The
                                <span class="f-800 f-green">Kendo</span>Full Story</h1>
                            <p>Kendo Theme is a Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        </div>
                        <!-- .col 10 -->
                    </div>
                    <!-- /.row -->
                    <div class="row text-center">
                        <div class="col-md-12">
                            <ul class="stats-info list-unstyled list-inline">
                                <li>
                                    <h2>7 Years</h2>
                                    <p>Since We Started</p>
                                </li>
                                <li>
                                    <h2>1,580+</h2>
                                    <p>Happy Customers</p>
                                </li>
                                <li>
                                    <h2>8 000 0...</h2>
                                    <p>Lines of Code</p>
                                </li>
                                <li>
                                    <h2>1500</h2>
                                    <p>Hard Working Folks</p>
                                </li>
                            </ul>
                            <!-- end:Stast-Info -->
                        </div>
                        <!-- .col-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row text-center">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="team-image">
                                <img class="tagged img-responsive" src="http://lorempixel.com/1000/500/people" alt="photo">
                                <div class="spot spot-1">
                                    <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </div>
                                <div class="spot spot-2">
                                    <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </div>
                                <div class="spot spot-3">
                                    <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </div>
                                <div class="spot spot-4">
                                    <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                                        <i class="fa fa-plus-circle"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- end:team image -->
                        </div>
                        <!-- .col-10 -->
                        <!-- start:Team Modal -->
                        <!-- Modal -->
                        <div class="modal animated fadeIn" id="teamModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="content-box text-center">
                                            <div class="content-box-image maurice-image"></div>
                                            <div class="team">
                                                <div class="member">
                                                    <img src="images/welcome.png" alt="" class="img-circle img-responsive">
                                                </div>
                                            </div>
                                            <h3>
                                                <a href="#">Pamukovich A.</a>
                                            </h3>
                                            <h5>Founder &amp; CO</h5>
                                            <p>Creative Principal, 3eighteen media
                                                <br>Formerly: Black Weblog Awards, AT&amp;T, WebMD
                                                <br>
                                                <br>Also Relate Media Group, VirtualStudent.net, CollegeClub.com.
                                                <br>
                                                <br>
                                                <a href="#">mauricecherry.com</a>
                                                <a href="#">@mauricecherry</a>
                                            </p>
                                        </div>
                                    </div>
                                    <!-- .end:Modal body -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                        <!-- /.modal -->
                        <!-- end:Team Modal -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- end:About -->
           
            <section id="clients" class="space">
                <div class="container">
                    <div class="row text-center">
                        <h3 class="f-white">People We Work With</h3>
                        <ul class="clients list-inline list-unstyled col-md-10 col-md-offset-1">
                            <li>
                                <img src="images/logo1.png" alt="">
                            </li>
                            <li>
                                <img src="images/logo2.png" alt="">
                            </li>
                            <li>
                                <img src="images/logo3.png" alt="">
                            </li>
                            <li>
                                <img src="images/logo4.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
          
            <section id="cta-contact" class="space">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="f-white">Work with us</h1>
                            <p>We are a full service design agency from the heart of London. We create perfect brands, vibrant identities, outstanding websites and creative concepts.</p>
                            <p>
                                <a href="contact.php" class="btn btn-green btn-lg">Get in touch with us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer">
                <div class="container">
                    <div class="row br-btm">
                        <div class="footer-wrap clearfix text-center">
                            <div class="col-md-4">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <address>
                                    <strong>Kendo, Inc.</strong>
                                    <br>795 Folsom Ave, Suite 600
                                    <br>LA, CA 94107
                                    <br>
                                    <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                            </div>
                            <!-- col-4 -->
                            <div class="col-md-4">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <address>
                                    <strong>Kendo, Inc.</strong>
                                    <br>795 Folsom Ave, Suite 600
                                    <br>Sarajevo, CA 94107
                                    <br>
                                    <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                            </div>
                            <div class="col-md-4">
                                <span>
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <address>
                                    <strong>Kendo, Inc.</strong>
                                    <br>795 Folsom Ave, Suite 600
                                    <br>San Francisco, CA 94107
                                    <br>
                                    <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->
                    <div class="btm-footer col-md-12 text-center">
                        <ul class="footer-links clearfix list-inline list-unstyled">
                            <li>
                                <a href="about.html#rewards" class="external">Buy App</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="about.html">About us</a>
                            </li>
                            <li>
                                <a href="about.html">Privacy</a>
                            </li>
                            <li>
                                <a href="contact-form.html">Contact</a>
                            </li>
                            <li>
                                <a href="blog.html">Updates</a>
                            </li>
                            <li>
                                <a href="about.html">Feedbacks</a>
                            </li>
                        </ul>
                        <p class="p-top-10">All Rights Reserved @2013 Pamukovic</p>
                        <ul class="socials list-inline list-unstyled p-top-10">
                            <li>
                                <a class="about-social-icon gplus" href="#">
                                    <i class="fa fa-google-plus" style=""></i>
                                </a>
                            </li>
                            <li>
                                <a class="about-social-icon pinterest" href="#">
                                    <i class="fa fa-pinterest" style=""></i>
                                </a>
                            </li>
                            <li>
                                <a class="about-social-icon twitter" href="#">
                                    <i class="fa fa-twitter" style=""></i>
                                </a>
                            </li>
                            <li>
                                <a class="about-social-icon rss" href="#">
                                    <i class="fa fa-rss" style=""></i>
                                </a>
                            </li>
                            <li>
                                <a class="about-social-icon facebook" href="#">
                                    <i class="fa fa-facebook" style=""></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery.js"></script>
            <script src="js/bootstrap.js"></script>
            <script src="js/jquery.scrollTo.js"></script>
            <script src="js/jquery.nav.js"></script>
            <script src="js/elementTransitions.min.js"></script>
            <script src="js/jquery.superslides.js"></script>
            <script src="js/jquery.sticky.js"></script>
            <script src="js/jquery.isotope.min.js"></script>
            <script src="js/jquery.easing.1.3.js"></script>
            <script src="js/slimbox2.js"></script>
            <script src="js/custom.js"></script>
            <script src="js/main.js"></script>
    </body>

</html>
