.start-saving {
  float: left;
}

.learn-more {
  margin-left: 20px;
  background: rgba(65, 147, 191, 0.3);
}

.learn-more:hover {
  background: rgba(65, 147, 191, 0.4);
}

.service-box {
  text-align: center;
}

.main-logo {
  width: 100px !important;
  position: fixed;
  right: 20px;
  top: 20px;
}

.hi {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 40px;
  background: url('../images/Flow-logo2.png') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


@media screen and (max-width: 410px) { 
  
  .learn-more {
    margin-left: 0px;
    margin-top: 20px;
  }
  .desktop { display: none }

}